<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	<!--  xmlns:beebee="http://beebee.katho.com"> -->
	
<head>
	<title>Cadastro de votação</title>	
	
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de votações
			</h1>
		</div>
	</div>

	<div class="container-fluid">
	
		<th:block th:replace="fragments/MensagemSucesso :: messageSucces"></th:block>

		<form method="POST" th:object="${votacao}" class="form-vertical  js-form-loading">
			
			<th:block th:replace="fragments/MensagensErroValidacao :: messageError"></th:block>
			
			<div class="row">
				<div class="col-sm-3  form-group" th:classappend="${#fields.hasErrors('restaurante')} ? has-error">
					<label for="restaurante" class="control-label">Restaurante</label>
					<div class="bb-field-action">
						<select id="restaurante" class="form-control" th:field="*{restaurante}">
							<option value="">Selecione o restaurante</option>
							<option th:each="restaurante : ${restaurantes}" th:value="${restaurante}" th:text="${restaurante.descricao}"></option>
						</select>
						<div class="bb-field-action__icon">
							<a href="#" data-toggle="modal" data-target="#modalCadastroRapidoEstilo">
								<i class="glyphicon glyphicon-plus-sign  bb-glyphicon-large"></i>
							</a>
						</div>
					</div>		
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-3  form-group" th:classappend="${#fields.hasErrors('usuario')} ? has-error">
					<label for="usuario" class="control-label">Usuário</label>
						<select id="usuario" class="form-control" th:field="*{usuario}">
							<option value="">Selecione o usuário</option>
							<option th:each="usuario : ${usuarios}" th:value="${usuario}" th:text="${usuario.descricao}"></option>
						</select>						
				</div>		
			</div>
		
	
		<!--  *** Se fosse chamado um popup sentando os valores do banco ficaria mais ou menos assim ***
		
			<div class="row">
				<div class="col-sm-3  form-group" th:classappend="${#fields.hasErrors('restaurante')} ? has-error">
					<label for="estilo" class="control-label">Restaurante</label>
					<div class="bb-field-action">
						<select id="estilo" class="form-control" th:field="*{restaurante}" autofocus="autofocus">
							<option value="">Selecione o restaurante</option>
							<option th:each="restaurante : ${restaurantes}" th:value="${restaurante.codigo}" th:text="${restaurante.nome}">Restaurante</option>
						</select>
						<div class="bb-field-action__icon">
							<a href="#" data-toggle="modal" data-target="#modalCadastroRapidoEstilo">
								<i class="glyphicon glyphicon-plus-sign  bb-glyphicon-large"></i>
							</a>
						</div>						
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-3  form-group" th:classappend="${#fields.hasErrors('usuario')} ? has-error">
					<label for="estilo" class="control-label">Usuário</label>
					<div class="bb-field-action">
						<select id="estilo" class="form-control" th:field="*{usuario}">
							<option value="">Selecione o usuário</option>
							<option th:each="usuario : ${usuarios}" th:value="${usuario.codigo}" th:text="${usuario.nome}">Usuário</option>
						</select>
						<div class="bb-field-action__icon">
							<a href="#">
								<i class="glyphicon glyphicon-plus-sign  bb-glyphicon-large"></i>
							</a>
						</div>						
					</div>
				</div>
			</div>
		-->
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Votar</button>
			</div>
	
		</form>
	</div>

	
	<div th:replace="restaurante/CadastroRapidoEstilo :: modal"></div>
</section>
	
<!-- Esse bloco seria para salvar o modal estilo rapido com ajax / -->	
<th:block layout:fragment="javascript-extra"><!-- javascript extra que quero carregar desta página -->
	<script th:src="@{/javascripts/estilo.cadastro-rapido.js}"></script>

</th:block>
	
</body>
</html>